AddDefaultCharset UTF-8

RewriteEngine On
RewriteBase /

# Перенаправляем все запросы на index.php, если файл или папка не существуют
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]